<?xml version="1.0" encoding="UTF-8"?>

<config>
    <server>
        <ip>localhost</ip>
        <port>22</port>
	<email>youremail@gmail.com</email>
    </server>
    <client name="Joe Somebody">
        <email>test@gmail.com</email>
        <ip>"""</ip>
    </client>
    <client name="Panama">
        <email>noreply@localhost</email>
        <ip>"""</ip>
    </client>
</config>
